<h3>Reinitialisation du Mot de Passe</h3>
<p>Bonjour Mr/Mme {{user.nom}} {{user.prenom}}</p>
<p>Vos informations de connexion ont ete reinitialise</p>
<p>Login: {{user.username}} <br>
Mot de passe: {{password}}
</p>
<p>Vous pouvez modifier ce mot de passe dans votre profile!</p>