/* .logo-image {height:35px;} */

.sp-page-builder .page-content #section-id-1542778054498
{
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
#column-id-1542778054543{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1542778054544
{
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542778054544 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542778054544 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
.sp-page-builder .page-content #section-id-1541655057438{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-color:#FD5658;
}
#column-id-1541655057435{
	box-shadow:0px 0px 0px 0px #fff;
}
#sppb-addon-1541655057441 {
	color:#fff;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
	padding:70px 70px 70px 70px;
}
#sppb-addon-1541655057441 a {
	color:#fff;
}
#sppb-addon-1541655057441 a:hover,#sppb-addon-1541655057441 a:focus,#sppb-addon-1541655057441 a:active {
	color:#fff;
}
#sppb-addon-1541655057441 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057441 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1541655057441 .sppb-addon-title 
	{
		font-size:18px;
		line-height:18px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057441 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1541655057441 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1541655057441 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#fff;
}
#sppb-addon-1541655057441 .sppb-icon .sppb-icon-container > i {
	font-size:40px;
	width:40px;
	height:40px;
	line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057441 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057441 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1541655057441{
	transition:.3s;
}
#sppb-addon-1541655057441:hover{
	box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1541655057483 {
	color:#fff;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
	padding:70px 70px 70px 70px;
}
#sppb-addon-1541655057483 a {
	color:#fff;
}
#sppb-addon-1541655057483 a:hover,#sppb-addon-1541655057483 a:focus,#sppb-addon-1541655057483 a:active {
	color:#fff;
}
#sppb-addon-1541655057483 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057483 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1541655057483 .sppb-addon-title {
		font-size:18px;
		line-height:18px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057483 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1541655057483 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1541655057483 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#fff;
}
#sppb-addon-1541655057483 .sppb-icon .sppb-icon-container > i {
	font-size:40px;
	width:40px;
	height:40px;
	line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057483 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057483 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1541655057483{
	transition:.3s;
}
#sppb-addon-1541655057483:hover{
	box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1541655057486 {
	color:#fff;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
	padding:70px 70px 70px 70px;
}
#sppb-addon-1541655057486 a {
	color:#fff;
}
#sppb-addon-1541655057486 a:hover,#sppb-addon-1541655057486 a:focus,#sppb-addon-1541655057486 a:active {
	color:#fff;
}
#sppb-addon-1541655057486 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057486 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1541655057486 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057486 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1541655057486 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1541655057486 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#fff;
}
#sppb-addon-1541655057486 .sppb-icon .sppb-icon-container > i {
	font-size:40px;
	width:40px;
	height:40px;
	line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057486 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057486 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1541655057486{
	transition:.3s;
}
#sppb-addon-1541655057486:hover{
	box-shadow:0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1541576006909{
	padding-top:95px;
	padding-right:0px;
	padding-bottom:100px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541576006909{
		padding-top:65px;
		padding-bottom:70px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541576006909{
		padding-top:65px;
		padding-bottom:70px;
	} 
}
#column-id-1541576006907{
	box-shadow:0 0 0 0 #fff;
}
.sp-page-builder .page-content #section-id-1541576006913{
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541576006913{
		margin-bottom:50px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541576006913{
		margin-bottom:30px;
	} 
}
#column-id-1541576006914{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541576006919 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 45px 0;
}
#sppb-addon-1541576006919 .sppb-addon-title {
	font-size:30px;
	line-height:30px;
	font-weight:700;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541576006919 {
		margin-top:0;
		margin-right:0;
		margin-bottom:45px;
		margin-left:0;
	}
	#sppb-addon-1541576006919 .sppb-addon-title {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541576006919 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}#sppb-addon-1541576006919 .sppb-addon-title {
		font-size:25px;
		line-height:25px;
	}
}
#sppb-addon-1541576006919 h2.sppb-addon-title {
	margin:0px 0px 0px 0px; 
	padding:0px 0px 0px 0px; 
}
#sppb-addon-1541655057400 {
	color:#666;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057400 {
		margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057400 {
		margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;
	}
}
.sp-page-builder .page-content #rs-skillbar{
	padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:40px;margin-left:0px;
}
#column-id-1545194880859{
	padding-top:0px;padding-right:30%;padding-bottom:0px;padding-left:0px;box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1545194880860 {
	box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545194880860 {
		margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545194880860 {
		margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;
	}
}
#sppb-addon-1545194880860 .sppb-progress {height:5px;}
#sppb-addon-1545194880860 .sppb-progress-bar {line-height:5px;}
#sppb-addon-1545194880860 .sppb-progress {background-color:#bbb;}
#sppb-addon-1545194880860 .sppb-progress-bar {background-color:#4d6de6;}
#sppb-addon-1545194880861 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545194880861 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}
}
@media (max-width:767px) {
	#sppb-addon-1545194880861 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}
}
#sppb-addon-1545194880861 .sppb-progress {height:5px;}
#sppb-addon-1545194880861 .sppb-progress-bar {line-height:5px;}
#sppb-addon-1545194880861 .sppb-progress {background-color:#bbb;}
#sppb-addon-1545194880861 .sppb-progress-bar {background-color:#4d6de6;}
#sppb-addon-1545194880862 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545194880862 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}
}
@media (max-width:767px) {
	#sppb-addon-1545194880862 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}
}
#sppb-addon-1545194880862 .sppb-progress {height:5px;}
#sppb-addon-1545194880862 .sppb-progress-bar {line-height:5px;}
#sppb-addon-1545194880862 .sppb-progress {background-color:#bbb;}
#sppb-addon-1545194880862 .sppb-progress-bar {background-color:#4d6de6;}
#sppb-addon-1545194880863 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545194880863 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}
}
@media (max-width:767px) {
	#sppb-addon-1545194880863 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}
}
#sppb-addon-1545194880863 .sppb-progress {height:5px;}
#sppb-addon-1545194880863 .sppb-progress-bar {line-height:5px;}
#sppb-addon-1545194880863 .sppb-progress {background-color:#bbb;}
#sppb-addon-1545194880863 .sppb-progress-bar {background-color:#4d6de6;}
#column-id-1541576006908{box-shadow:0 0 0 0 #fff;}
#sppb-addon-1541576006912 {box-shadow:0 0 0 0 #ffffff;margin:0 00;}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541576006912 {margin-top:0;margin-right:0;margin-left:0;}
}
@media (max-width:767px) {
	#sppb-addon-1541576006912 {margin-top:0;margin-right:0;margin-left:0;}
}
.sp-page-builder .page-content #section-id-1541665805573{
	padding-top:95px;
	padding-right:0px;
	padding-bottom:100px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-color:#fcfcfc;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805573{padding-top:65px;padding-bottom:70px;} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805573{padding-top:65px;padding-bottom:70px;} 
}.sp-page-builder .page-content #section-id-1541665805573 .sppb-section-title .sppb-title-heading {
	font-size:30px;line-height:30px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805573 .sppb-section-title .sppb-title-heading {
		font-size:30px;line-height:30px;
	}
}@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805573 .sppb-section-title .sppb-title-heading {
		font-size:25px;line-height:25px;
	}
}
#column-id-1541665805572{box-shadow:0 0 0 0 #fff;}
#sppb-addon-1543395304383 {box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1543395304383 {margin-top:0;margin-right:0;margin-left:0;}
}
@media (max-width:767px) {
	#sppb-addon-1543395304383 {margin-top:0;margin-right:0;margin-left:0;}
}
.sp-page-builder .page-content #section-id-1541655057509{
	padding-top:95px;
	padding-right:0px;
	padding-bottom:100px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541655057509{
		padding-top:65px;padding-bottom:70px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541655057509{
		padding-top:65px;padding-bottom:70px;
	} 
}
.sp-page-builder .page-content #section-id-1541655057509 .sppb-section-title .sppb-title-heading {
	font-size:30px;line-height:30px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541655057509 .sppb-section-title .sppb-title-heading {
		font-size:30px;line-height:30px;
	}
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541655057509 .sppb-section-title .sppb-title-heading {
		font-size:25px;line-height:25px;
	}
}
#column-id-1541655057507{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541655057515 {
	box-shadow:0 0 0 0 #ffffff;margin:0 00;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541655057515 {
		margin-top:0;margin-right:0;margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541655057515 {
		margin-top:0;margin-right:0;margin-left:0;
	}
}
.sp-page-builder .page-content #section-id-1545206719093{
	padding-top:100px;padding-right:0px;padding-bottom:220px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;background-color:#f4f7fc;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1545206719093{
		padding-top:70px;padding-bottom:50px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1545206719093{padding-top:70px;padding-bottom:50px;
	} 
}
#column-id-1545206719106{
	border-radius:5px;box-shadow:0 0 0 0 #fff;background-image:url(../../../../images/2018/11/06/video-bg-1.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:scroll;background-position:50% 50%;
}
@media (min-width:768px) and (max-width:991px) {
	 #column-wrap-id-1545206719106{margin-bottom:50px;
	} 
}
@media (max-width:767px) { 
	#column-wrap-id-1545206719106{
		margin-bottom:50px;
	} 
}
.sp-page-builder .page-content #section-id-1545206719107{
	padding-top:200px;padding-right:0px;padding-bottom:200px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1545206719107{
		padding-top:150px;
		padding-right:0px;
		padding-bottom:150px;
		padding-left:0px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1545206719107{
		padding-top:150px;
		padding-right:0;
		padding-bottom:150px;
		padding-left:0;
	} 
}
#column-id-1545206719108{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1545206719109 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
}
#sppb-addon-1545206719109 .sppb-modal-selector span {
	display:inline-block;
	line-height:1;
	padding:25px;
	color:#ffffff;
	background-color:#FD5658;
	border-style:solid;
	border-color:#FD5658;
	border-width:2px;
	border-radius:50px;
}
#sppb-addon-1545206719109 .sppb-modal-selector span > i {
	font-size:30px;
	width:30px;
	height:30px;
	line-height:30px;
}
.sp-page-builder .page-content #section-id-1545206719111{
	padding-top:0;
	padding-right:0px;
	padding-bottom:0;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
#column-id-1545206719112{
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:10px;
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1545206719113 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 60px 0;
}
#sppb-addon-1545206719113 .sppb-addon-title {
	font-size:30px;
	line-height:30px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719113 {
		margin-top:0;
		margin-right:0;
		margin-bottom:50px;
		margin-left:0;
	}
	#sppb-addon-1545206719113 .sppb-addon-title {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719113 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
	#sppb-addon-1545206719113 .sppb-addon-title {
		font-size:25px;
		line-height:25px;
	}
}
#sppb-addon-1545206719114 {
	color:#666;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
#sppb-addon-1545206719114 a {
	color:#212121;
}
#sppb-addon-1545206719114 a:hover,#sppb-addon-1545206719114 a:focus,#sppb-addon-1545206719114 a:active {
	color:#4d6de6;
}
#sppb-addon-1545206719114 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719114 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1545206719114 .sppb-addon-title {
		font-size:18px;
		line-height:18px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719114 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1545206719114 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1545206719114 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#FD5658;
}
#sppb-addon-1545206719114 .sppb-icon .sppb-icon-container > i {
	font-size:20px;
	width:20px;
	height:20px;
	line-height:20px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719114 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719114 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1545206719114{
	transition:.3s;
}
#sppb-addon-1545206719114:hover{
	box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1545206719115 {
	color:#666;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
#sppb-addon-1545206719115 a {
	color:#212121;
}
#sppb-addon-1545206719115 a:hover,#sppb-addon-1545206719115 a:focus,#sppb-addon-1545206719115 a:active {
	color:#4d6de6;
}
#sppb-addon-1545206719115 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719115 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1545206719115 .sppb-addon-title {
		font-size:18px;
		line-height:18px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719115 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1545206719115 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1545206719115 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#FD5658;
}
#sppb-addon-1545206719115 .sppb-icon .sppb-icon-container > i {
	font-size:20px;
	width:20px;
	height:20px;
	line-height:20px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719115 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719115 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1545206719115{
	transition:.3s;
}
#sppb-addon-1545206719115:hover{
	box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1545206719116 {
	color:#666;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
#sppb-addon-1545206719116 a {
	color:#212121;
}
#sppb-addon-1545206719116 a:hover,#sppb-addon-1545206719116 a:focus,#sppb-addon-1545206719116 a:active {
	color:#4d6de6;
}
#sppb-addon-1545206719116 .sppb-addon-title {
	color:#4A4A4A;
	font-size:22px;
	line-height:22px;
	line-height:22px;
	font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719116 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
	#sppb-addon-1545206719116 .sppb-addon-title {
		font-size:18px;
		line-height:18px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719116 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
	#sppb-addon-1545206719116 .sppb-addon-title {
		font-size:16px;
		line-height:16px;
	}
}
#sppb-addon-1545206719116 .sppb-icon .sppb-icon-container {
	box-shadow:0 0 0 0 #ffffff;
	display:inline-block;
	text-align:center;
	padding:0 0 0 0;
	color:#FD5658;
}
#sppb-addon-1545206719116 .sppb-icon .sppb-icon-container > i {
	font-size:20px;
	width:20px;height:20px;line-height:20px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1545206719116 .sppb-media .sppb-media-body {
		width:auto;
	}
}
@media (max-width:767px) {
	#sppb-addon-1545206719116 .sppb-media .sppb-media-body {
		width:auto;
	}
}
#sppb-addon-1545206719116{
	transition:.3s;
}
#sppb-addon-1545206719116:hover{
	box-shadow:0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1541665805506{
	padding-top:100px;
	padding-right:0px;
	padding-bottom:230px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-image:url(../../../../images/2018/11/06/diagmonds-light.png);
	background-repeat:repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:0 0;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805506{
		padding-top:70px;
		padding-bottom:70px;
	} 
}@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805506{
		padding-top:70px;
		padding-bottom:70px;
	} 
}
#column-id-1541665805505{
	box-shadow:0 0 0 0 #fff;
}
.sp-page-builder .page-content #section-id-1541665805511{
	padding-top:50px;
	padding-right:0px;
	padding-bottom:50px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-image:url(../../../../images/2018/11/08/counter-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:0 0;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805511{
		padding-top:50px;
		padding-bottom:50px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805511{
		padding-top:50px;
		padding-bottom:50px;
	} 
}
#column-id-1541665805482{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541665805483 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805483 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805483 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
#sppb-addon-1541665805483 .sppb-icon-inner {
	color:#FD5658;
}
#sppb-addon-1541665805483 .sppb-icon-inner i {
	font-size:50px;
}
#sppb-addon-1541665805484 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 00;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805484 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805484 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
#sppb-addon-1541665805484 .sppb-animated-number {
	color:#fff;
	font-size:30px;
	line-height:30px;
	font-weight:700;
}
#sppb-addon-1541665805484 .sppb-animated-number-title {
	font-size:15px;
	color:#fff;
	font-weight:500;
}
@media (max-width:767px) {
	#sppb-addon-1541665805484 .sppb-animated-number {
		line-height:30px;
	}
}
#sppb-addon-1541665805486 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805486 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805486 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
#sppb-addon-1541665805486 .sppb-icon-inner {
	color:#FD5658;
}
#sppb-addon-1541665805486 .sppb-icon-inner i {
	font-size:50px;
}
#sppb-addon-1541665805487 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 00;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805487 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805487 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
#sppb-addon-1541665805487 .sppb-animated-number {
	color:#fff;
	font-size:30px;
	line-height:30px;
	font-weight:700;
}
#sppb-addon-1541665805487 .sppb-animated-number-title {
	font-size:15px;
	color:#fff;
	font-weight:500;
}

@media (max-width:767px) {
	#sppb-addon-1541665805487 .sppb-animated-number {
		line-height:30px;
	}
}
#sppb-addon-1541665805489 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805489 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805489 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
#sppb-addon-1541665805489 .sppb-icon-inner {
	color:#FD5658;
}
#sppb-addon-1541665805489 .sppb-icon-inner i {
	font-size:50px;
}
#sppb-addon-1541665805490 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 00;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805490 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805490 {
		margin-top:0;
		margin-right:0;
		margin-bottom:30px;
		margin-left:0;
	}
}
#sppb-addon-1541665805490 .sppb-animated-number {
	color:#fff;
	font-size:30px;
	line-height:30px;
	font-weight:700;
}
#sppb-addon-1541665805490 .sppb-animated-number-title {
	font-size:15px;
	color:#fff;
	font-weight:500;
}
@media (max-width:767px) {
	#sppb-addon-1541665805490 .sppb-animated-number {
		line-height:30px;
	}
}
#sppb-addon-1541665805492 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805492 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805492 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
#sppb-addon-1541665805492 .sppb-icon-inner {
	color:#FD5658;
}
#sppb-addon-1541665805492 .sppb-icon-inner i {
	font-size:50px;
}
#sppb-addon-1541665805493 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 00;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805493 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805493 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
#sppb-addon-1541665805493 .sppb-animated-number {
	color:#fff;
	font-size:30px;
	line-height:30px;
	font-weight:700;
}
#sppb-addon-1541665805493 .sppb-animated-number-title {
	font-size:15px;
	color:#fff;
	font-weight:500;
}
@media (max-width:767px) {
	#sppb-addon-1541665805493 .sppb-animated-number {
		line-height:30px;
	}
}
.sp-page-builder .page-content #section-id-1541665805516{
	padding-top:115px;
	padding-right:0px;
	padding-bottom:0;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805516{
		padding-top:65px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805516{
		padding-top:65px;
	} 
}
.sp-page-builder .page-content #section-id-1541665805516 .sppb-section-title .sppb-title-heading {
	font-size:30px;
	line-height:30px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541665805516 .sppb-section-title .sppb-title-heading {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541665805516 .sppb-section-title .sppb-title-heading {
		font-size:25px;
		line-height:25px;
	}
}
#column-id-1541665805495{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541665805497 {
	box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541665805497 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541665805497 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
.sp-page-builder .page-content #section-id-1542259678123{
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-image:url(../../../../images/2018/11/06/home-call.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:scroll;
	background-position:0 0;
}
#column-id-1542259678099{
	padding-top:50px;
	padding-right:45px;
	padding-bottom:20px;
	padding-left:45px;
	box-shadow:0 0 0 0 #fff;
	background-color:#FD5658;
}
#column-wrap-id-1542259678099{
	margin-top:-30px;
}
@media (min-width:768px) and (max-width:991px) { 
	#column-wrap-id-1542259678099{
		margin-top:70px;
		margin-bottom:70px;
	} 
}
@media (max-width:767px) { 
	#column-wrap-id-1542259678099{
		margin-top:70px;
		margin-bottom:70px;
	} 
}
#sppb-addon-1542259678100 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 00;
}
#sppb-addon-1542259678100 .sppb-addon-title {
	font-size:30px;
	line-height:30px;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542259678100 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
	#sppb-addon-1542259678100 .sppb-addon-title {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542259678100 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
	#sppb-addon-1542259678100 .sppb-addon-title {
		font-size:25px;
		line-height:25px;
	}
}
#sppb-addon-1542259678100 h2.sppb-addon-title {
	margin:0px 0px 60px 0px; 
	padding:0px 0px 0px 0px; 
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542259678100 h2.sppb-addon-title {
		margin:0px 0px 60px 0px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542259678100 h2.sppb-addon-title {
		margin:0px 0px 30px 0px; 
	}
}
#sppb-addon-1542259678101 {
	color:#ffffff;
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 30px 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542259678101 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542259678101 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
#sppb-addon-1542259678101 .sppb-ajaxt-contact-form .sppb-form-group input:not(.sppb-form-check-input) {
	color:#ffffff;
	border-radius:px;
	transition:.35s;
}
#sppb-addon-1542259678101 .sppb-ajaxt-contact-form div.sppb-form-group textarea{
	color:#ffffff;
	border-radius:px;
	transition:.35s;
}
#sppb-addon-1542259678101 .sppb-ajaxt-contact-form div.sppb-form-group {
	margin:0px 0px 10px 0px;
}
#sppb-addon-1542259678101 .sppb-ajaxt-contact-form .sppb-form-group input::placeholder,#sppb-addon-1542259678101 .sppb-ajaxt-contact-form .sppb-form-group textarea::placeholder{
	color:#ffffff;
	opacity:1;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542259678101 .sppb-ajaxt-contact-form div.sppb-form-group{
		margin:0px 0px 15px 0px;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542259678101 .sppb-ajaxt-contact-form div.sppb-form-group {
		margin:0px 0px 15px 0px;
	}
}
#column-id-1542259678102{
	box-shadow:0 0 0 0 #fff;
}
#column-wrap-id-1542259678102{
	margin-top:-30px;
}
@media (min-width:768px) and (max-width:991px) { 
	#column-wrap-id-1542259678102{
		margin-bottom:40px;
	} 
}
@media (max-width:767px) { 
	#column-wrap-id-1542259678102{
		margin-bottom:40px;
	} 
}
#sppb-addon-1542259678103 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1542259678103 {
		margin-top:0;
		margin-right:0;
		margin-bottom:20px;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1542259678103 {
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
	}
}
.sp-page-builder .page-content #section-id-1541752970775{
	padding-top:95px;
	padding-right:0px;
	padding-bottom:100px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541752970775{
		padding-top:65px;
		padding-bottom:70px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541752970775{
		padding-top:65px;
		padding-bottom:70px;
	} 
}
.sp-page-builder .page-content #section-id-1541752970775 .sppb-section-title .sppb-title-heading {
	font-size:30px;
	line-height:30px;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #section-id-1541752970775 .sppb-section-title .sppb-title-heading {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width:767px) { 
	.sp-page-builder .page-content #section-id-1541752970775 .sppb-section-title .sppb-title-heading {
		font-size:25px;
		line-height:25px;
	}
}
#column-id-1541752970795{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541752970797 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541752970797 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541752970797 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
.sp-page-builder .page-content #rs-partner{
	padding-top:70px;
	padding-right:0px;
	padding-bottom:70px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-color:#f4f7fc ;
}
@media (min-width:768px) and (max-width:991px) { 
	.sp-page-builder .page-content #rs-partner{
		padding-top:70px;
		padding-bottom:70px;
	} 
}
@media (max-width:767px) { 
	.sp-page-builder 
	.page-content #rs-partner{
		padding-top:70px;
		padding-bottom:70px;
	} 
}
#column-id-1541752970792{
	box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1541752970793 {
	box-shadow:0 0 0 0 #ffffff;
	margin:0 0 0 0;
}
@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1541752970793 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}
@media (max-width:767px) {
	#sppb-addon-1541752970793 {
		margin-top:0;
		margin-right:0;
		margin-left:0;
	}
}

#actualites-right{
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #f9f9f9;
}

#actualites-right .container-actualites{
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}

#actualites-right .container-actualites h5{
	background: #FD5658;
	color: white;
	padding: 10px;
}

#actualites-right .container-actualites h5 a{
	color: white;
}

#actualites-right .container-actualites ul li{
	/* color: black; */
	/* background: #2A579A; */
	padding-left: 5px;
	padding-top: 5px;
	font-size: 12px;
}

#actualites-right .container-actualites ul li div.media-body p{
	padding: 0px;
}

#actualites-right .container-actualites ul li div.media-body p a{
	color: black;
}

#actualites-right .container-actualites ul li div.media-body p a:hover{
	color: #FD5658;
}

.article-full-image img{
	width: auto;
	max-height: 300px;
}

