.sp-page-builder .page-content #rs-breadcrumbs{
  padding-top:75px;
  padding-right:0px;
  padding-bottom:75px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  background-image:url(../../../../images/2018/11/21/header1.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}
.sp-page-builder .page-content #rs-breadcrumbs .sppb-section-title .sppb-title-heading {
  font-size:38px;
  line-height:38px;
  color:#ffffff;
  margin-top:0px;
  margin-bottom:0px;
}
#column-id-1542802526275{
  box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1542802526276 {
  box-shadow:0px 0px 0px 0px #fff;
  margin:0 0 0 0;
  padding:0px 0px 0px 0px;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526276 {
    margin-top:0;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526276 {
    margin-top:0;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
  }
}
.sp-page-builder .page-content #section-id-1542802526261{
  padding-top:100px;
  padding-right:0px;
  padding-bottom:230px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  background-color:#fcfcfc;
}
@media (min-width:768px) and (max-width:991px) { 
  .sp-page-builder .page-content #section-id-1542802526261{
    padding-top:70px;
    padding-right:0px;
    padding-bottom:70px;
    padding-left:0px;
  } 
}
@media (max-width:767px) { 
  .sp-page-builder .page-content #section-id-1542802526261{
    padding-top:70px;
    padding-right:0px;
    padding-bottom:70px;
    padding-left:0px;
  } 
}
#column-id-1542802526278{
  box-shadow:0 0 0 0 #fff;
}
.sp-page-builder .page-content #section-id-1542802526279{
  padding-top:0;
  padding-right:0px;
  padding-bottom:0;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#column-id-1542802526280{
  box-shadow:0 0 0 0 #fff;
}
#sppb-addon-1542802526281 {
  color:#666;
  box-shadow:0 0 0 0 #ffffff;
  margin:0 0 30px 0;
}
#sppb-addon-1542802526281 a {
  color:#212121;
}
#sppb-addon-1542802526281 .sppb-addon-title {
  margin-bottom:10px;
  color:#212121;
  font-size:18px;
  line-height:18px;
  line-height:26px;
  font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526281 {
    margin-top:0;
    margin-right:0;
    margin-bottom:20px;
    margin-left:0;
  }
  #sppb-addon-1542802526281 .sppb-addon-title {
    font-size:18px;
    line-height:18px;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526281 {
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
  }
  #sppb-addon-1542802526281 .sppb-addon-title {
    font-size:16px;
    line-height:16px;
  }
}
#sppb-addon-1542802526281 .sppb-icon .sppb-icon-container {
  box-shadow:0 0 0 0 #ffffff;
  display:inline-block;
  text-align:center;
  padding:0 0 0 0;
  color:#FD5658;
}
#sppb-addon-1542802526281 .sppb-icon .sppb-icon-container > i {
  font-size:40px;
  width:40px;
  height:40px;
  line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526281 .sppb-media .sppb-media-body {
    width:auto;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526281 .sppb-media .sppb-media-body {
    width:auto;
  }
}
#sppb-addon-1542802526281{
  transition:.3s;
}
#sppb-addon-1542802526281:hover{
  box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1542802526282 {
  color:#666;
  box-shadow:0 0 0 0 #ffffff;
  margin:0 0 0 0;
}
#sppb-addon-1542802526282 a {
  color:#212121;
}
#sppb-addon-1542802526282 .sppb-addon-title {
  margin-bottom:10px;
  color:#212121;
  font-size:18px;
  line-height:18px;
  line-height:26px;
  font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526282 {
    margin-top:0;
    margin-right:0;
    margin-bottom:20px;
    margin-left:0;
  }
  #sppb-addon-1542802526282 .sppb-addon-title {
    font-size:18px;
    line-height:18px;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526282 {
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
  }
  #sppb-addon-1542802526282 .sppb-addon-title {
    font-size:16px;
    line-height:16px;
  }
}
#sppb-addon-1542802526282 .sppb-icon .sppb-icon-container {
  box-shadow:0 0 0 0 #ffffff;
  display:inline-block;
  text-align:center;
  padding:0 0 0 0;
  color:#FD5658;
}
#sppb-addon-1542802526282 .sppb-icon .sppb-icon-container > i {
  font-size:40px;
  width:40px;
  height:40px;
  line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526282 .sppb-media .sppb-media-body {
    width:auto;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526282 .sppb-media .sppb-media-body {
    width:auto;
  }
}
#sppb-addon-1542802526282{
  transition:.3s;
}
#sppb-addon-1542802526282:hover{
  box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1542802526284 {
  color:#666;
  box-shadow:0 0 0 0 #ffffff;
  margin:0 0 30px 0;
}
#sppb-addon-1542802526284 a {
  color:#212121;
}
#sppb-addon-1542802526284 .sppb-addon-title {
  margin-bottom:10px;
  color:#212121;
  font-size:18px;
  line-height:18px;
  line-height:26px;
  font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526284 {
    margin-top:0;
    margin-right:0;
    margin-bottom:20px;
    margin-left:0;
  }
  #sppb-addon-1542802526284 .sppb-addon-title {
    font-size:18px;
    line-height:18px;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526284 {
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
  }
  #sppb-addon-1542802526284 .sppb-addon-title {
    font-size:16px;
    line-height:16px;
  }
}
#sppb-addon-1542802526284 .sppb-icon .sppb-icon-container {
  box-shadow:0 0 0 0 #ffffff;
  display:inline-block;
  text-align:center;
  padding:0 0 0 0;
  color:#FD5658;
}
#sppb-addon-1542802526284 .sppb-icon .sppb-icon-container > i {
  font-size:40px;
  width:40px;
  height:40px;
  line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526284 .sppb-media .sppb-media-body {
    width:auto;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526284 .sppb-media .sppb-media-body {
    width:auto;
  }
}
#sppb-addon-1542802526284{
  transition:.3s;
}
#sppb-addon-1542802526284:hover{
  box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1542802526285 {
  color:#666;
  box-shadow:0 0 0 0 #ffffff;
  margin:0 0 0 0;
}
#sppb-addon-1542802526285 a {
  color:#212121;
}
#sppb-addon-1542802526285 .sppb-addon-title {
  margin-bottom:10px;
  color:#212121;
  font-size:18px;
  line-height:18px;
  line-height:26px;
  font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526285 {
    margin-top:0;
    margin-right:0;
    margin-bottom:20px;
    margin-left:0;
  }
  #sppb-addon-1542802526285 .sppb-addon-title {
    font-size:18px;
    line-height:18px;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526285 {
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
  }
  #sppb-addon-1542802526285 .sppb-addon-title {
    font-size:16px;
    line-height:16px;
  }
}
#sppb-addon-1542802526285 .sppb-icon .sppb-icon-container {
  box-shadow:0 0 0 0 #ffffff;
  display:inline-block;
  text-align:center;
  padding:0 0 0 0;
  color:#FD5658;
}
#sppb-addon-1542802526285 .sppb-icon .sppb-icon-container > i {
  font-size:40px;
  width:40px;
  height:40px;
  line-height:40px;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526285 .sppb-media .sppb-media-body {
    width:auto;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526285 .sppb-media .sppb-media-body {
    width:auto;
  }
}
#sppb-addon-1542802526285{
  transition:.3s;
}
#sppb-addon-1542802526285:hover{
  box-shadow:0 0 0 0 #ffffff;
}
#sppb-addon-1542802526287 {
  color:#666;
  box-shadow:0 0 0 0 #ffffff;
  margin:0 0 30px 0;
}
#sppb-addon-1542802526287 a {
  color:#212121;
}
#sppb-addon-1542802526287 .sppb-addon-title {
  margin-bottom:10px;
  color:#212121;
  font-size:18px;
  line-height:18px;
  line-height:26px;
  font-weight:600;
}
@media (min-width:768px) and (max-width:991px) {
  #sppb-addon-1542802526287 {
    margin-top:0;
    margin-right:0;
    margin-bottom:20px;
    margin-left:0;
  }
  #sppb-addon-1542802526287 .sppb-addon-title {
    font-size:18px;
    line-height:18px;
  }
}
@media (max-width:767px) {
  #sppb-addon-1542802526287 {
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
  }
  #sppb-addon-1542802526287 .sppb-addon-title {
    font-size:16px;
    line-height:16px;
  }
}
@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526287 .sppb-media-content {padding: ;}}@media (max-width:767px) {#sppb-addon-1542802526287 .sppb-media-content {padding: ;}}#sppb-addon-1542802526287 .sppb-icon .sppb-icon-container {box-shadow:0 0 0 0 #ffffff;display:inline-block;text-align:center;padding:0 0 0 0;color:#FD5658;}#sppb-addon-1542802526287 .sppb-icon .sppb-icon-container > i {font-size:40px;width:40px;height:40px;line-height:40px;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526287 .sppb-media .sppb-media-body {width:auto;}}@media (max-width:767px) {#sppb-addon-1542802526287 .sppb-media .sppb-media-body {width:auto;}}#sppb-addon-1542802526287{transition:.3s;}#sppb-addon-1542802526287:hover{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1542802526288 {color:#666;box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;}#sppb-addon-1542802526288 a {color:#212121;}#sppb-addon-1542802526288 .sppb-addon-title {margin-bottom:10px;color:#212121;font-size:18px;line-height:18px;line-height:26px;font-weight:600;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526288 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}#sppb-addon-1542802526288 .sppb-addon-title {font-size:18px;line-height:18px;}}@media (max-width:767px) {#sppb-addon-1542802526288 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}#sppb-addon-1542802526288 .sppb-addon-title {font-size:16px;line-height:16px;}}#sppb-addon-1542802526288 .sppb-media-content {padding: ;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526288 .sppb-media-content {padding: ;}}@media (max-width:767px) {#sppb-addon-1542802526288 .sppb-media-content {padding: ;}}#sppb-addon-1542802526288 .sppb-icon .sppb-icon-container {box-shadow:0 0 0 0 #ffffff;display:inline-block;text-align:center;padding:0 0 0 0;color:#FD5658;}#sppb-addon-1542802526288 .sppb-icon .sppb-icon-container > i {font-size:40px;width:40px;height:40px;line-height:40px;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526288 .sppb-media .sppb-media-body {width:auto;}}@media (max-width:767px) {#sppb-addon-1542802526288 .sppb-media .sppb-media-body {width:auto;}}#sppb-addon-1542802526288{transition:.3s;}#sppb-addon-1542802526288:hover{box-shadow:0 0 0 0 #ffffff;}.sp-page-builder .page-content #section-id-1542802526267{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;background-image:url(../../../../images/2018/11/21/services-call.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:scroll;background-position:0 0;}#column-id-1542802526294{padding-top:50px;padding-right:45px;padding-bottom:20px;padding-left:45px;box-shadow:0 0 0 0 #fff;background-color:#FD5658;;}#column-wrap-id-1542802526294{margin-top:-30px;}@media (min-width:768px) and (max-width:991px) { #column-wrap-id-1542802526294{margin-top:70px;margin-right:0px;margin-bottom:0px;margin-left:0px;} }@media (max-width:767px) { #column-wrap-id-1542802526294{margin-top:70px;margin-right:0px;margin-bottom:0px;margin-left:0px;} }#sppb-addon-1542802526295 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}#sppb-addon-1542802526295 .sppb-addon-title {font-size:30px;line-height:30px;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526295 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}#sppb-addon-1542802526295 .sppb-addon-title {font-size:30px;line-height:30px;}}@media (max-width:767px) {#sppb-addon-1542802526295 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}#sppb-addon-1542802526295 .sppb-addon-title {font-size:25px;line-height:25px;}}#sppb-addon-1542802526295 h2.sppb-addon-title {margin:0px 0px 60px 0px; padding:0px 0px 0px 0px; }@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526295 h2.sppb-addon-title {margin:0px 0px 50px 0px; padding: ; }}@media (max-width:767px) {#sppb-addon-1542802526295 h2.sppb-addon-title {margin:0px 0px 30px 0px; padding: ; }}#sppb-addon-1542802526296 {color:#ffffff;box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526296 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526296 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}}#sppb-addon-1542802526296 .sppb-ajaxt-contact-form .sppb-form-group input:not(.sppb-form-check-input) {color:#ffffff;border-width: ;border-radius:px;padding: ;transition:.35s;}#sppb-addon-1542802526296 .sppb-ajaxt-contact-form div.sppb-form-group textarea{color:#ffffff;border-width: ;border-radius:px;padding: ;transition:.35s;}#sppb-addon-1542802526296 .sppb-ajaxt-contact-form div.sppb-form-group {margin:0px 0px 10px 0px;}#sppb-addon-1542802526296 .sppb-ajaxt-contact-form .sppb-form-group input::placeholder,#sppb-addon-1542802526296 .sppb-ajaxt-contact-form .sppb-form-group textarea::placeholder{color:#ffffff;opacity:1;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526296 .sppb-ajaxt-contact-form div.sppb-form-group{margin:0px 0px 15px 0px;}}@media (max-width:767px) {#sppb-addon-1542802526296 .sppb-ajaxt-contact-form div.sppb-form-group {margin:0px 0px 15px 0px;}}#column-id-1542802526297{box-shadow:0 0 0 0 #fff;}.sp-page-builder .page-content #section-id-1542802526274{padding-top:50px;padding-right:0px;padding-bottom:50px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}@media (min-width:768px) and (max-width:991px) { .sp-page-builder .page-content #section-id-1542802526274{padding-top:50px;padding-right:0px;padding-bottom:70px;padding-left:0px;} }@media (max-width:767px) { .sp-page-builder .page-content #section-id-1542802526274{padding-top:50px;padding-right:0px;padding-bottom:70px;padding-left:0px;} }#column-id-1542802526300{box-shadow:0 0 0 0 #fff;}#sppb-addon-1542802526301 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526301 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526301 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}}#sppb-addon-1542802526301 .sppb-icon-inner {color:#fff;}#sppb-addon-1542802526301 .sppb-icon-inner i {font-size:50px;}#sppb-addon-1542802526302 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526302 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526302 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}#sppb-addon-1542802526302 .sppb-animated-number { font-family:Poppins; }#sppb-addon-1542802526302 .sppb-animated-number {color:#fff;font-size:30px;line-height:30px;font-weight:700;}#sppb-addon-1542802526302 .sppb-animated-number-title {font-size:20px;color:#fff;margin:;font-weight:400;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526302 .sppb-animated-number-title {margin:;}}@media (max-width:767px) {#sppb-addon-1542802526302 .sppb-animated-number {line-height:30px;}#sppb-addon-1542802526302 .sppb-animated-number-title {margin:;}}#sppb-addon-1542802526304 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526304 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526304 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}}#sppb-addon-1542802526304 .sppb-icon-inner {color:#fff;}#sppb-addon-1542802526304 .sppb-icon-inner i {font-size:50px;}#sppb-addon-1542802526305 {box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526305 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526305 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}#sppb-addon-1542802526305 .sppb-animated-number { font-family:Poppins; }#sppb-addon-1542802526305 .sppb-animated-number {color:#fff;font-size:30px;line-height:30px;font-weight:700;}#sppb-addon-1542802526305 .sppb-animated-number-title {font-size:20px;color:#fff;margin:;font-weight:400;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526305 .sppb-animated-number-title {margin:;}}@media (max-width:767px) {#sppb-addon-1542802526305 .sppb-animated-number {line-height:30px;}#sppb-addon-1542802526305 .sppb-animated-number-title {margin:;}}#sppb-addon-1542802526307 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526307 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526307 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}}#sppb-addon-1542802526307 .sppb-icon-inner {color:#fff;}#sppb-addon-1542802526307 .sppb-icon-inner i {font-size:50px;}#sppb-addon-1542802526308 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526308 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526308 {margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;}}#sppb-addon-1542802526308 .sppb-animated-number { font-family:Poppins; }#sppb-addon-1542802526308 .sppb-animated-number {color:#fff;font-size:30px;line-height:30px;font-weight:700;}#sppb-addon-1542802526308 .sppb-animated-number-title {font-size:20px;color:#fff;margin:;font-weight:400;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526308 .sppb-animated-number-title {margin:;}}@media (max-width:767px) {#sppb-addon-1542802526308 .sppb-animated-number {line-height:30px;}#sppb-addon-1542802526308 .sppb-animated-number-title {margin:;}}#sppb-addon-1542802526310 {box-shadow:0 0 0 0 #ffffff;margin:0 0 30px 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526310 {margin-top:0;margin-right:0;margin-bottom:20px;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526310 {margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;}}#sppb-addon-1542802526310 .sppb-icon-inner {color:#fff;}#sppb-addon-1542802526310 .sppb-icon-inner i {font-size:50px;}#sppb-addon-1542802526311 {box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526311 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526311 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}}#sppb-addon-1542802526311 .sppb-animated-number { font-family:Poppins; }#sppb-addon-1542802526311 .sppb-animated-number {color:#fff;font-size:30px;line-height:30px;font-weight:700;}#sppb-addon-1542802526311 .sppb-animated-number-title {font-size:20px;color:#fff;margin:;font-weight:400;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526311 .sppb-animated-number-title {margin:;}}@media (max-width:767px) {#sppb-addon-1542802526311 .sppb-animated-number {line-height:30px;}#sppb-addon-1542802526311 .sppb-animated-number-title {margin:;}}.sp-page-builder .page-content #rs-partner{padding-top:70px;padding-right:0px;padding-bottom:70px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}@media (min-width:768px) and (max-width:991px) { .sp-page-builder .page-content #rs-partner{padding-top:70px;padding-right:0px;padding-bottom:70px;padding-left:0px;} }@media (max-width:767px) { .sp-page-builder .page-content #rs-partner{padding-top:70px;padding-right:0px;padding-bottom:70px;padding-left:0px;} }#column-id-1542802526291{box-shadow:0 0 0 0 #fff;}#sppb-addon-1542802526292 {box-shadow:0 0 0 0 #ffffff;margin:0 0 0 0;}@media (min-width:768px) and (max-width:991px) {#sppb-addon-1542802526292 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}}@media (max-width:767px) {#sppb-addon-1542802526292 {margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}}
body{font-family: 'Roboto', sans-serif;font-size: 15px;font-weight: 400;}

h1{font-family: 'Poppins', sans-serif;font-size: 60px;font-weight: 700;}

h2{font-family: 'Poppins', sans-serif;font-size: 40px;font-weight: 700;}

h3{font-family: 'Poppins', sans-serif;font-size: 30px;font-weight: 700;}

h4{font-family: 'Poppins', sans-serif;font-size: 20px;font-weight: 700;}

h5{font-family: 'Poppins', sans-serif;font-size: 16px;font-weight: 700;}

h6{font-family: 'Poppins', sans-serif;font-size: 15px;font-weight: 700;}

.logo-image {height:35px;}
.logo-image {height:35px;}